@using System.Collections

@{
    ViewBag.Title = "title";
    IDictionary environmentVariables = Environment.GetEnvironmentVariables();
}

<h2>Environment Variables</h2>
<div class="environment">
    @foreach (DictionaryEntry entry in environmentVariables)
    {
        <div class="item">
            <div class="key">@entry.Key</div>
            <div class="value">@entry.Value</div>
        </div>
    }

</div>
